@page "/cadastroartista"
@inject NavigationManager navegacao
@inject ArtistaControler artista
@using System.Data

<div class="card">
    <div class="card-header"><h3>Cadastro de Artista</h3></div>
    <EditForm Model="@dt" OnValidSubmit="@AddArtista">
        <ul class="list-group">
            <li class="list-group-item mb-3">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="@NomeArtista" placeholder="Informe o nome do artista" required maxlength="100" />
            </li>
            <li class="list-group-item mb-3">
                <label>Musica</label>
                <InputText class="form-control" @bind-Value="@MusicaArtista" placeholder="Informe a Musica do artista " required maxlength="100" />
            </li>
            <li class="list-group-item mb-3">
                <label>Nome do Autor</label>
                <InputText class="form-control" @bind-Value="@Autor" placeholder="Informe o nome do autor " required maxlength="100" />
            </li>
            <li class="list-group-item mb-3">
                <label>Data de Criacao</label>
                <InputText  class="form-control" @bind-Value="@DataCriaco" placeholder="dd/MM/yyyy" required maxlength="12"  />
            </li>
            <li class="list-group-item mb-3">
                <label>Observação</label>
                <InputTextArea class="form-control" @bind-Value="@Observacao" placeholder="Observações " required  />
            </li>
            <li class="list-group-item mb-3">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group-sm float-lg-right">
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                        <button type="button" class="btn me-s2 btn-danger" @onclick="@Cancelar">Cancelar</button>
                    </div>
                </div>
            </li>
        </ul>
    </EditForm>
</div>

<h1 class="alert-success form-control">@sucesso</h1>
<h1>@erro</h1>

@code {
    private DataTable dt = new DataTable();
    private DataRow row;

    private string erro;
    private string sucesso;

    //strings usadas para receber os valores do formulario
    string NomeArtista = "";
    string MusicaArtista = "";
    private string DataCriaco;
    private string Autor;
    private string Observacao;

    async Task AddArtista()
    {
        try
        {
            //datatable recebe os dados do banco de dados
            dt = await artista.LerDadosDataTable();
            //datatable dt recebe os valores das strings com os dados, 
            dt.Rows.Add(null, NomeArtista, MusicaArtista, DataCriaco, Autor, Observacao);

            //manda pra função executar o update
            await artista.AdicionarDataTable(dt);
            sucesso = "Item salvo com sucesso ";
            navegacao.NavigateTo("/");
        }
        catch (Exception ex)
        {

            erro = "Não foi possivel cadastrar " + ex.Message;
        }
    }

    public void Cancelar()
    {
        navegacao.NavigateTo("/");

    }


}
