@layout LoginLayout
@page "/"
@inject NavigationManager navegacao
@inject MeUsuarios usuario

<div class="mx-auto d-flex flex-column" style="width: 400px; height: 700px; margin-top: 30px">
    <EditForm Model="@dt" OnValidSubmit="@LoginUsuario">
        <div>
            <h3>Usuario Login</h3>
        </div>
        <div>
            <label>usuario </label>
        </div>
        <div>
            <input type="text" @bind="@loginusuario" required placeholder="insira o seu login" class="form-control" />  
        </div>
        <div>
            <label>Senha</label>
        </div>
        <div>
            <input required type="password" @bind="@senhausuario" placeholder="insira a sua senha" class="form-control" />
        </div>
        <div style="margin-top: 10px;">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        </div>
    </EditForm>
    <div class="alert-danger">@result</div>
</div>

@code
 {

    private string loginusuario;
    private string senhausuario;

    DataTable dt;
    DadosAutenticado formulario;

    string result;

    protected override async Task OnInitializedAsync()
    {
        dt = await usuario.lerDadosdatatable();
    }
    async Task LoginUsuario()
    {
        dt = await usuario.dtLogin(loginusuario);

        if(dt.Rows.Count > 0)
        {
            //result = "usuario encontrado";
            navegacao.NavigateTo("/home");
        }
        else
        {
            result = "erro na senha ou login";
        }
    }
}
