@page "/pgusuario"
@inject MeUsuarios user
@inject NavigationManager navegacao

@if (MeUsuarios.UsuarioPerfil == PerfilUsuario.Administrador || MeUsuarios.UsuarioPerfil == PerfilUsuario.Moderador)
{
    @if (dt == null)
    {
        <h1>Carregando...</h1>
    }
    else if (dt.Rows.Count == 0)
    {
        <h1>Não existem cadastros...</h1>
    }
    else
    {
        <div style="padding: 10px 10px 10px;">
            <h4>Lista de Usuarios</h4>
            <button class="btn btn-primary" @onclick="@(() => navegacao.NavigateTo("/cadusuarios"))">Incluir novo Registro</button>
        </div>
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in dt.Rows)
                    {
                        <tr id="active">
                            <td><a style="cursor: pointer" @onclick="@(()=> navegacao.NavigateTo("/detalhesusuario/" + item["UsuarioId"]))">@item["NomeUsuario"]</a></td>
                            <td>@item["EmailUsuario"]</td>
                            <td><a style="cursor: pointer" title="Editar" class="btn btn-primary oi oi-pencil"></a></td>
                            <td><a style="cursor: pointer" @onclick="@(() => Deletar(item["UsuarioId"]))" title="Excluir" class="btn btn-danger oi oi-trash"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <Confirmar @ref="@confirma" onCancela="@Cancelar" onConfirma="@DeletarConfirma">
                <div>Deseja escluir o item ?</div>
            </Confirmar>
        </div>
    }
}
else
{
    <h1>Nivel de acesso insuficiente...</h1>
}

@code {
    DataTable dt = new DataTable();
    Confirmar confirma;
    object idDeleta;

    protected override async Task OnInitializedAsync()
    {
        dt = await user.lerDadosdatatable();
    }

    void Deletar(object artistaid)
    {
        confirma.Exibir();
        idDeleta = artistaid;
    }
    async Task DeletarConfirma()
    {
        DataRow[] row = dt.Select("UsuarioId =" + idDeleta);
        if (row.Length > 0)
        {
            row[0].Delete();
            await user.AdicionarDataTable(dt);
            confirma.Ocultar();
            dt = await user.lerDadosdatatable(); 

        }
    }

    void Cancelar()
    {
        confirma.Ocultar();
    }
}
